<% include partials/header %>

<% cats.forEach((cat) => { %>
	<div>
		<h2><%= cat.name%></h2>
		<img src="<%= cat.image %>">
		<p>
			<%= cat.decription.substring(0, 100) %>...
			<a href="/cats/<%= cat._id %>">read more</a>
		</p>
		<span><%= cat.createdAt %></span>
	</div>
<% }); %>

<% include partials/footer %>