<% include ../partials/header %>

<div id="show" class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h2><%= cat.name%></h2>
			<div class="thumbnail">
				<img src="<%= cat.image %>">
				<div class="caption">
					<span>
						<em>Posted by <%= cat.author.username %>: <%= cat.createdAt.toDateString() %></em>
					</span>
					<p><%= cat.description %></p>
					<% if (currentUser && cat.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-info btn-xs" role="button" href="/cats/<%= cat._id %>/edit">Edit</a>
						<form action="/cats/<%= cat._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-xs">Delete</button>
						</form>
					<% }; %>
					
					<div>
						<a href="/cats/<%= cat._id %>/comments/new" class="btn btn-primary btn-xs">Add comment</a>
						<% cat.comments.forEach(function (comment) { %>
							<p><strong><%= comment.author.username %></strong> - <%= comment.content %></p>
							<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
								<a href="/cats/<%= cat._id %>/comments/<%= comment._id %>/edit" class="btn btn-info btn-xs">Edit</a>
								<form action="/cats/<%= cat._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<button class="btn btn-danger btn-xs">Delete</button>
								</form>
							<% }; %>
						<%	}); %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>